<%= content_tag :div, class: "rssfeed", data: { new_record: form.object.new_record? } do %>
  <div class="form-row">
    <%= form.label :url %>
    <%= form.text_field :url, class: 'form-control' %>
  </div>
  <div class="form-row">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-row">
    <small><%= link_to "Remove", "#", class: "remove-feed", data: { action: "click->rssfeed#remove_association" } %></small>
  </div>

  <%= form.hidden_field :_destroy %>
<% end %>
