<%= content_tag :div, class: "rssfeed", data: { new_record: form.object.new_record? } do %>
  <div class="form-group">
    <%= form.label :url %>
    <%= form.text_field :url, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control' %>
    <small><%= link_to "Remove", "#", data: { action: "click->rssfeed#remove_association" } %></small>
  </div>

  <%= form.hidden_field :_destroy %>
<% end %>
