<p id="notice"><%= notice %></p>
<div class="digest-title">
  <h2><%= @mail_digest.title %></h2>
  <p><%= @mail_digest.description %></p>
</div>
<div class="feed-content">
  <% @mail_digest.feeds&.each do |feed| %>
    <h3><%= feed.title %></h3>
    <h4><%= feed.url unless feed.feed_articles %></h4>
    <div>
      <% feed.feed_articles.order(pub_date: :desc).limit(5)&.each do |article| %>
        <div>
          <hr></hr>
          <div><%= article.title.force_encoding('UTF-8').html_safe %></div>
          <p><%= article.description.force_encoding('UTF-8').html_safe %></p>
          <a href="<%= article.link.force_encoding('UTF-8').html_safe %>" target="_blank"><%= %></a>
          <div><%=l article.pub_date, format: :long %></div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<%= link_to 'Edit', edit_mail_digest_path(@mail_digest) %> |
<%= link_to 'Back', mail_digests_path %>
