<!DOCTYPE html>
<html>
  <head>
    <title>Maildigest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/e9b1afa0fa.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1><%= link_to 'Mail Digest', :mail_digests if current_user %></h1>
    </header>
    <div class="main-content">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield.force_encoding(Encoding::UTF_8) %>
      <% if current_user %>
        <%=
          link_to 'Sign out',
            :destroy_user_session, method: :delete, data: { confirm: 'Are you sure?' }
        %>
      <% end %>
    </div>
  </body>
</html>
